@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}
html {
  scroll-behavior: smooth;
}


section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  transition: 0.5s;
}

.about{
  color: #fff;
  display: inline-flex;

}
.about h2{
  font-size: 3em;
}
.about p{
  margin-left: -60px;
  font-size: large;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

header .logo {
  position: relative;
  max-width: 80px;
  max-height: 30px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
  font-weight: 600;
}

header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400px;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  font-weight: 400;
  max-width: 600px;
}

.content .textbox h2 {
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  justify-content: flex-end;
}

.content .textbox h2 span {
  font-size: 2em;
}

.content .textbox p {
  color: #fff;
}
.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.content .imgBox {
  width: 600px;
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 560px;
}

.wordCarousel {
  font-size: 26px;
  font-weight: 100;
  color: #eee;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
}

.wordCarousel div li {
  font-weight: 300;
  height: 45px;
  margin-bottom: 45px;
}


.flip4 {
  -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}


@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}


