@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
}
html {
  scroll-behavior: smooth;
}


section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  transition: 0.5s;
}

.about{
  color: #fff;

}
.about h2{
  font-size: 3em;
}
.about p{
  font-size: 1.5rem;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
}

header .logo {
  position: relative;
  max-width: 80px;
  max-height: 30px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
  font-weight: 600;
}

header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400px;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  font-weight: 400;
  max-width: 600px;
}

.content .textbox h2 {
  color: #fff;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  justify-content: flex-end;
}

.content .textbox h2 span {
  font-size: 2em;
}

.content .textbox p {
  color: #fff;
}
.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.content .imgBox {
  width: 600px;
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
}

.content .imgBox img {
  max-width: 560px;
}

.wordCarousel {
  font-size: 26px;
  font-weight: 100;
  color: #eee;
}

.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
}

.wordCarousel div li {
  font-weight: 300;
  height: 45px;
  margin-bottom: 45px;
}


.flip4 {
  -webkit-animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
          animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}


@-webkit-keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}



center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  overflow: hidden;
  width: 43em;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
  transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1), -webkit-transform 0.6s cubic-bezier(0.45, 0, 0.55, 1);
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.5em;
}

.slide > img {
  border-radius: 0.6em;
  display: block;
  width: calc(42em / 3);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1em;
  margin-top: 2em;
}

.buttons > button {
  all: unset;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5em;
  cursor: pointer;
  padding: 0.15em 2em;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.buttons > button.active {
  background: white;
}

.buttons > button:not(.active):hover {
  background: rgba(255, 255, 255, 0.5);
}
.cp-text{ color: rgba(255, 255, 255, 0.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);}

.songs{
  color: #fff;
}

.songs figcaption{
  font-size: large;
}